<div class="wrapper">
    <ngb-tabset class="tabset1">
        <ngb-tab title="Prijava greške">
            <ng-template ngbTabContent class ="content">
                <app-developer-content></app-developer-content>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Lista grešaka">
            <ng-template ngbTabContent class ="content">
                <app-developer-content-list></app-developer-content-list>
                <app-developer-content-list></app-developer-content-list>
                <app-developer-content-list></app-developer-content-list>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>