.card{
  background:rgba(201, 222, 239, 0.6);
    margin: 5% 5% 5% 15%;
    width: 70%;
}
.card-header{
  color: #000000;
  background: rgb(102 149 193 / 60%);
    border-color: #0E4168;
    margin-bottom: 1%;
    
    font-size: 18px
}
.card-body{
    background:rgb(201 222 239 / 60%);
    color: #FFFFFF;
    padding: 5%;
}
.button {
    text-decoration: none;
    color: #000000;
    background: rgb(102 149 193 / 60%);
    padding: 6px 9px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    border: none;
    margin: 1%;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    background: rgb(26, 118, 194);
    box-shadow: 0 5px 15px rgba(36, 156, 255, 0.6);
  }
  .rowstyle{
      margin: 1%;
    -webkit-box-shadow: 8px 10px 23px 0.1px rgba(3,19,31,1);
    -moz-box-shadow: 8px 10px 23px 0.1px rgba(3,19,31,1);
    box-shadow: 8px 10px 23px 0.1px rgba(3,19,31,1);
    color: white;
  }
  .text{
    text-align: center
}

.input{
  background-color: #5986a9;
  border-color: white;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;

}
::placeholder{
  color: white;
}
.form-control{
  position: relative;
  display: inline-block;
  left: 18%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color:#0E4168;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}