:host ::ng-deep .tabset1 a.nav-link {
  color: black;
  background:rgba(14, 65, 104, 0.9);
  border-color: #0E4168;
  margin-bottom: 1%;
  
  font-size: 18px


  
}
:host ::ng-deep .tabset1 a.nav-link.active {
  background:rgba(14, 65, 104, 0.9);
  font-weight: bold;
  font-size: 18px
}
:host ::ng-deep .tabset1 .tab-content{
  background:rgba(7, 31, 50, 0.6);
  color: #FFFFFF;
  padding: 5%;

}
.wrapper{
  background:rgba(14, 65, 104, 0.8);
  margin: 3%
}
