<app-navbar></app-navbar>
<!--Section: Features v.4-->
<section>

  <!--Section heading-->
  <h1 class="py-5 font-weight-bold text-center" style="color: black;">Zašto izabrati nas?</h1>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center" style="color: black;">Mi pravimo proizvode koji će vam pomoći da radite brže i jednostavnije,
																				te vam omogućavamo dugoročnu korisničku podršku.
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->

      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-left: 17%; margin-bottom: 5%;">
			<div class="card">
				<div class="card-header"><h5>Agilnost</h5></div>
				<div class="card-body">
				<p class="card-text">Naši timovi rade u malim grupama koje razvijaju male dijelove funkcionalnosti aplikacija, te se nove verzije softvera objavljuju na sedmičnoj bazi. Na ovaj način, možete početi koristiti najvažnije funkcionalnosti svojih aplikacija veoma brzo, bez potrebe za čekanjem da se završi razvoj cijele aplikacije.</p>
				</div>
			</div>
		</div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-left: 17%; margin-bottom: 5%;">
			<div class="card">
			<div class="card-header"><h5>Modernizacija</h5></div>
				<div class="card-body">
				<p class="card-text">Naši proizvodi prave se koristeći najnovije tehnologije, što garantuje da će vaši korisnici imati pristup najmodernijim funkcionalnostima. Na ovaj način omogućava se lakši rad, što rezultuje zadovoljstvom naših korisnika i dobivanjem mogućnosti da se ide u korak s vremenom i uvijek koriste najnoviji proizvodi s tržišta.</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-left: 17%; margin-bottom: 5%;">
			<div class="card">
				<div class="card-header"><h5>Podrška korisnicima</h5></div>
				<div class="card-body">
				<p class="card-text">Naši timovi za podršku korisnika dostupni su 24/7, te uvijek marljivo rade da rasporede izvještaje o greškama timovima za razvoj, analiziraju korisničke zahtjeve i daju odgovore na sva pitanja što je prije moguće. Naš prioritet je da svi naši korisnici znaju koristiti sve mogućnosti aplikacija koje nudimo.</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 flex-center" style="margin-top: 15%;">
      <img src="https://i.imgur.com/kEZgtjK.png" alt="" class="z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
	  <div class="col-10 text-left" style="margin-bottom: 5%;">
		<div class="card">
			<div class="card-header"><h5>Efektivnost</h5></div>
				<div class="card-body">
				<p class="card-text">Čim korisnik pošalje zahtjev, formira se tim naših stručnih profesionalaca koji analiziraju zahtjev. Naši eksperti prave PSO dokumente u kojem se nalaze detaljni pregledi svih funkcionalnosti koje je potrebno razviti, što vam može pomoći da izaberete samo one promjene koje će na vas pozitivno utjecati.</p>
			</div>
		</div>
		</div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-bottom: 5%;">
			<div class="card">
				<div class="card-header"><h5>Raznolikost</h5></div>
				<div class="card-body">
				<p class="card-text">Bez obzira koje su vaše preferencije - web, desktop ili mobilne aplikacije, naši timovi će razviti proizvode koje tražite, i to u skladu sa standardima koje vi preferirate, na taj način pretvarajući vaše ideje u stvarnost i omogućavajući vam da poboljšate svoje poslovanje koristeći raznolikost tehnologija.</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-bottom: 5%;">
			<div class="card">
				<div class="card-header"><h5>Efikasnost</h5></div>
				<div class="card-body">
				<p class="card-text">Naši profesionalci trude se postići uspjeh omogućavajući korisnicima da koriste nove verzije softvera što je prije moguće. Neko uvijek radi na ispravljanju grešaka i razvoju promjena, kako bi nova verzija proizvoda mogla biti dostupna korisnicima u najkraćem vremenskom roku.</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->