p {
  font-family: Lato;
}
.image{
    /* position: relative; */
    background-size: cover;
    background-image: url("viber_image_2021-04-30_14-36-19.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 99%;
    display: flex;
    flex-direction: column;
}
app-header,
router-outlet,
app-footer{
  display: table-row;
}



router-outlet {
  position: absolute;
}

