p {
  font-family: Lato;
}
.image{
  position:relative;
  background-size: cover;
    background-image: url(); /*https://i.imgur.com/0C3MKgn.jpg*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */

  top: 0;
  left: 0;
}
