<app-navbar></app-navbar>
<!-- Grid row -->
  <div class="row">
    <div class="text-center" style="margin-left: 10%; margin-right: 10%; margin-top: 4%;">
                  <h1 class="py-5 font-weight-bold text-center" style="color: white;">Mi razvijamo. Mi pružamo podršku. Mi analiziramo. Mi mijenjamo.</h1>
      </div>
    </div>
  <div class="row">
    <!-- Grid column -->
    <div class="column-2 px-2 mb-r" style="margin-top: 3%; margin-left: 2%; width: 30%;">
  
      <!--Card-->
      <div class="card default-color-dark" style="margin-bottom: 5%;">
  
        <!--Card image-->
        <div class="view">
          <img src="https://www.covermagazine.co.uk/w-images/e01913b7-9705-4ebb-bba4-b2ddad577a04/0/peopleworkingoncomputers-580x358.jpg" class="card-img-top" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Poboljšajte svoju organizaciju</h4>
          <!--Text-->
          <p class="card-text white-text">Mi pravimo softver po mjeri klijenta, prebacujući logiku poslovanja organizacije u naše aplikacije. Uz našu pomoć, vaša firma će poslovati brže i jednostavnije, koristeći jednostavne aplikacije koje se mogu koristiti bez napora i problema. Naš najveći prioritet je zadovoljstvo naših korisnika.</p>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column-1 px-2 mb-r" style="margin-top: 3%; margin-left: 2%; margin-right: 2%; width: 30%;">
  
      <!--Card-->
      <div class="card primary-color-dark">
  
        <!--Card image-->
        <div class="view">
          <img src="https://i.imgur.com/WCiGCtS.jpg" class="card-img-top" alt="photo" style="padding-bottom: 0.3em;">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Osigurajte vaše procese</h4>
          <!--Text-->
          <p class="card-text white-text">Naši timovi za podršku korisnicima omogućavaju korisnicima da nam se obrate bilo kad. Klijenti mogu slati zahtjeve za promjenama, izvještaje o greškama i pitati za pomoć - naši certificirani profesionalci rješavaju probleme brzo i efikasno, zbog čega ne trebate brinuti o sigurnosti procesa o kojima organizacija ovisi.</p>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column-1 px-2" style="margin-top: 3%; margin-right: 2%; width: 30%;">
  
      <!--Card-->
      <div class="card warning-color-dark">
  
        <!--Card image-->
        <div class="view">
          <img src="https://i.imgur.com/ZL6FDLr.jpg" class="card-img-top" alt="photo" style="height: 100%;">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Ustanovite rizike promjena</h4>
          <!--Text-->
          <p class="card-text white-text">Naš komitet za promjene uvijek vam je na raspolaganju, spreman da evaluira vaše zahtjeve za promjenama i piše detaljne izvještaje o tome da li su predložene promjene efikasne ili ne. Godine iskustva i rada čine naše senior menadžere sposobnim da vam pomognu utvrditi koji put izabrati za buduće poslovanje vaše firme.</p>
        </div>
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->
  
  </div>