<div class="row menu" style="height: 644px;">
  <div class="col col-sm-2" style="background:rgba(233,233,233);height: 100%;">
      <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#"(click)="change()">Zahtjevi za promjenama</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"(click)="event()">Prijave grešaka</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"(click)="report()">Izvještaji</a>
      </li>
    </ul>
    </div>
    <div class="col col-sm-10" >
      <app-change-management *ngIf="selectChange" [PromjeneKomitet]="true" [ChangeSettings]="{Komitet:true}"></app-change-management>
      <app-event-management *ngIf="selectEvent" [GreskeKomitet]="true" [ChangeSettings]="{Komitet:true}"></app-event-management>
      <app-report *ngIf="selectReport" [Komitet]="true"></app-report>
    </div>
</div>
