<div class="row">
<div class="col">
Opis greške
</div>
<div class="col">
  <select class="form-control">
    <option>Greška pri implementaciji</option>
    <option>Bug u aplikaciji</option>
  </select> 
  </div>
<div class="col">
--Opis promjene koja je dovela do greške--
</div>
<div class="col">
  <div class="col-sm-12">
    <input class="button glow-button col-sm-12" type="button"value="Pošalji">
  </div>
  <div class="col-sm-12">
    <input class="button glow-button col-sm-12" type="button"value="Odbaci">
    </div>
</div>
</div>