<!---<div class="row" *ngFor="let dogadjaj of dogadjaji">
  <div class="col col-sm-3">
    Opis{{dogadjaj.opis}}
  </div>
  <div class="col col-sm-2">
    Tip događaja{{dogadjaj.tip}}}
    </div>
  <div class="col col-sm-2">
  Prioritet{{dogadjaj.prioritet}}
  </div>
  <div class="col col-sm-2">
    Datum prijave{{dogadjaj.datum}}
    </div>
  <div class="col col-sm-3">
    <div class="col-sm-12">
      <input class="btn col-sm-12" type="button"value="Prihvati">
    </div>
    <div class="col-sm-12">
      <input class="btn col-sm-12" type="button"value="Odbaci">
      </div>
  </div>
  </div>-->
  <div class="row">
    <div class="col col-sm-3">
      Rijesen problem oko korisnickog profila
    </div>
    <div class="col col-sm-2">
      Informacija
      </div>
    <div class="col col-sm-2">
    1
    
    </div>
    <div class="col col-sm-2">
      12.3.2019
   
      </div>
    <div class="col col-sm-3">
      <div class="col-sm-12">
        <input class="button glow-button col-sm-12" type="button"value="Prihvati">
      </div>
      <div class="col-sm-12">
        <input class="button glow-button col-sm-12" type="button"value="Odbaci">
        </div>
    </div>
    </div>
    <div class="row">
      <div class="col col-sm-3">
        Implementirani servis ne prikazuje relevantne rezultate
      </div>
      <div class="col col-sm-2">
        
        Upozorenje
        
        </div>
      <div class="col col-sm-2">
      
      2
      
      </div>
      <div class="col col-sm-2">
        13.5.2019
        </div>
      <div class="col col-sm-3">
        <div class="col-sm-12">
          <input class="button glow-button col-sm-12" type="button"value="Prihvati">
        </div>
        <div class="col-sm-12">
          <input class="button glow-button col-sm-12" type="button"value="Odbaci">
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col col-sm-3">
          Unosi se ne zapisuju u bazu
        </div>
        <div class="col col-sm-2">
        
          Greska
          </div>
        <div class="col col-sm-2">
        
        3
        </div>
        <div class="col col-sm-2">
          28.5.2019
          </div>
        <div class="col col-sm-3">
          <div class="col-sm-12">
            <input class="button glow-button col-sm-12" type="button"value="Prihvati">
          </div>
          <div class="col-sm-12">
            <input class="button glow-button col-sm-12" type="button"value="Odbaci">
            </div>
        </div>
        </div>
    