<!-- Main navigation -->
  <!--
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="position: absolute; margin-right: 20%; width: 60%; margin-left: 20%;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home"><h3>Home page</h3>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><h3>O Nama</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ourclients"><h3>Naši Klijenti</h3></a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/contactus"><h3>Kontakt</h3></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  -Navbar-->

  <div>

  </div>