.page-footer {
  padding-bottom:50px;
  }
  .footer-copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(233 234 234 / 70%);
    color: black;
    text-align: center;
  }